#ishiForm {
    margin-top: 20px;
    margin-right: 2vw;
}

.ishFormHeader {
    color: #1b325f;
}

.show {
    list-style-position: inside;
}

.hide {
    display: none;
}

select{
    font-family: sans-serif, Geneva, Tahoma;
    background-color: #0D6efd;
    color: rgb(255, 255, 255);
    font-weight: 500;
    width:auto;
    font-size: 14px;
    border-radius: 4px;
    border: none;
    padding: 8px;
  }