.centralizarContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeContainer {
  color: rgba(255, 255, 255, 0.87);
  background-color:#1b325f;
  text-align: center;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
/*   padding-top: 10vh; */
}

.home button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #FFF;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.home button:hover {
  border-color: #646cff;
}
.home button:focus,
.home button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.home .linkAbout {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.home .linkAbout:hover {
  color: #535bf2;
}

.home h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.home .logo {
  height: 25vh;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.home .logo:hover {
  filter: drop-shadow(0 0 3em #f6f6f8aa);
}
.home .logo.react:hover {
  filter: drop-shadow(0 0 3em #d9f7ffaa);
}

.home .card {
  padding: 2em;
  background-color: #1b325f;
  border: none;
}

.home .gray-subtitle {
  color: #888;
}
